{% extends "market/index.html" %}

{% block keybody %}
        <div class="row">
         {% for item in goods %}

          <div class="col-6 col-lg-4">
            <div class="card h-100">
                <img class="card-img-top" src="/upload/{{ item.img }}" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  {{ item.title }}
                </h4>
                <h5>￥{{ item.price }}</h5>
                <p class="card-text">{{ item.describe }}</p>
              </div>
              <div class="card-footer">
                <a href="/detail/{{ item.id }}">查看详情</a>
              </div>
            </div>
          </div>
         {% endfor %}

        </div>
        <!-- /.row -->

{% endblock %}