{% extends "market/index.html" %}

{% block mainBody %}
    <div class="row">
    {% for item in goods %}
        <div class="col-lg-6">
            <div class="panel panel-default">
            <div class="panel-heading">
                    <h3 class="panel-title">{{ item.title }}</h3>
            </div>
            <div class="panel-body">
                <h4> 价格:{{ item.price }}  分类:{{ item.cate }}</h4>
             </div>
             <h4> 发布日期:{{ item.push_date }}</h4>

            <a href="/delete/{{ item.id }}" class="btn btn-info" role="button">删除</a>

        </div>

        </div>

    {% endfor %}
        </div>
    <div class="col-lg-3">
    </div>
</div>



{% endblock %}