{% extends "market/index.html" %}

{% block mainBody %}
    <div class="row">
        <div class="col-lg-9">
        <div class="table-responsive">
  <table class="table">
    <caption>响应式表格布局</caption>
    <thead>
      <tr>
        <th>书籍名称</th>
        <th>发布日期</th>
        <th>价格</th></tr>
    </thead>
    <tbody>
    {% for item in goods %}
        <tr>
        <td >{{ item.title }}</td>
        <td>{{ item.push_date }}</td>
        <td>{{ item.price }}</td></tr>
      <tr>
    {% endfor %}
    </tbody>
  </table>
        </div>
        </div>
    <div class="col-lg-3">
        <h2>按钮元素</h2>
    <a href="#" class="btn btn-info" role="button">链接按钮</a>
        <a href="#" class="btn btn-info" role="button">链接按钮</a>

    </div>
</div>



{% endblock %}